@import "./variables";
html {
	font-family: $font-primary;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	overflow-x: hidden;
}

section {
	padding: 60px 0px 40px;
}
footer{
	padding: 30px 0px;
}
.page-content{
	padding: 30px 0px 0px;
}
article,
aside,

details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

svg {
	width: 16px;
	height: 15px;
	vertical-align: middle;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	/*border: 1px solid #c0c0c0;*/
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
.my-10{
	margin: 10px 0px;
}
.item-lg{
	display: block;
	@media screen and (max-width:$break-small) {
		display: none; 
	}
}
.item-sm{
	display: none;
	@media screen and (max-width:$break-small) {
		display: inline-block; 
		width: 100%;
	}
}
legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

tr {
	border-bottom: 1px solid #e5e5e5;
	text-align: left;
}

table caption {
	background-color: transparent;
	border: 1px solid #e5e5e5;
	border-bottom: none;
	padding: 1em;
	text-align: center;
	text-transform: uppercase;
}

table th a {
	color: #000;
}

/*--------------------------------------------------------------
 Typography
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	color: #666;
	font-size: 14px;
	height: 46px;
    border: 1px solid #E3E4E8;
    background-color: #fff;
    width: 100%;
    margin-bottom: 24px;
    padding: 0 12px;
    -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
	line-height: 1.6;
}

body {
	font-family: $font-primary;
	font-size: 15px;
	line-height: 26px;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	
	margin: 0 0 20px 0;
	color: #000;
	font-weight: 600;
	line-height: 1.4;
	font-family:$font-title;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

p {
	margin: 0 0 15px 0;
	font-family: $font-primary;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0;
	padding: 30px 5px 5px 0px;
}

blockquote p {
	margin: 0 0 1em;
	font-style: italic;
}
blockquote, q {
		quotes: "" "";
		position: relative;
}
address {
	margin: 0 0 1.5em;
}

pre {
	background: #f7f7f7;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {

	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	word-wrap: break-word;
}

hr {
	background-color: #ddd;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

ul,
ol {
	margin: 0 0 0.5em 1em;
	padding: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: 100%; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	vertical-align: middle;
	width: 100%;
}

figure {
	margin: 1em 0;  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	table-layout: fixed;
	border: 1px solid #e5e5e5;
}

td,
th {
	padding: 5px 10px;
}

/*--------------------------------------------------------------
#Forms
--------------------------------------------------------------*/

/*button, a.button, input[type="button"], input[type="reset"], input[type="submit"] {
display: inline-block;
font-size: 16px;
margin: 10px;
padding: 10px 30px;
color: #ffffff;
border-radius: 0px;
background:#246A55;
border: none;
}*/

a.button {
	min-width: 150px;
}

/*button:hover,
a.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
background:transparent;
border: 1px solid #ffc341;
color: white;
}*/
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="number"] {
	outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea,
select {
	color: #666;
	border: 1px solid #ddd;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"],
input[type="date"],
input[type="time"],
textarea:focus {
	color: #111;
	outline: none;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="url"],
input[type="varchar"],
input[type="password"],
input[type="search"],
input[type="number"] {
	padding: 10px 0 10px 15px;
}

input[type="search"] {
	padding: 12px 0px 8px 15px;
}

select {
	width: 100%;
	padding: 5px;
}

textarea {
	padding: 10px;
	width: 100%;
}

.form-submit input#submit {
	margin: 20px 0 10px 0;
}

.form-submit {
	text-align: center;
}

p {
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 1.4;
	font-family: 'Poppins', sans-serif;
	color:$text-color;
}

/*input[type="submit"] {*/

/*width: 100%;*/

/*}*/

/*--------------------------------------------------------------
#. Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#.#. Links
--------------------------------------------------------------*/

a {
	color: #000;
	outline: none;
	text-decoration: underline;
	&:visited{
		color: #fff;
	}
	&:hover{
		color:$primary-color;
		text-decoration: none;
		outline: inherit;
	}
	&:active {
		outline: 0;
		color: $primary-color;
		text-decoration: none;
		outline: 0;
	}
	&:focus {
		color:$primary-color;
		text-decoration: none;
		outline: inherit;
	}
}



// a:hover,
// a:focus,
// a:active {
// 	color: white;
// 	text-decoration: none;
// }

// a:focus {
// 	outline: inherit;
// }

// a:hover,
// a:active {
// 	outline: 0;
// }

a.more-link {
	margin-top: 10px;
	display: inline-block;
	padding: 7px 13px;
	background: #08c299;
	color: #fff;
	position: relative;
	z-index: 0;
	font-size: 16px;
	font-weight: 500;
	&:hover{
		background: #000;
		}
	}



/*----reset---*/
.clear {
	clear: both;
}



.clearfix {
	zoom: 1;
	&:before{
		clear: both;
		content: "";
		display: table;
	}
	&:after{
		clear: both;
		content: "";
		display: table;
		clear: both;
	}
}

.container{
	&::before{
		display: table;
		content: "";
	}
	&::after{
		display: table;
		content: "";
		clear: both;
	}
}


.section-content {
	padding: 0px 15px;
}

p {
	font-family: $font-primary;
}

input[type=date] {
	&::-webkit-inner-spin-button {
		-webkit-apdpearance: none;
	}
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
	&::-webkit-calendar-picker-indicator {
		background-color: transparent;
	}
}

input[type="date"]{
	&:focus{
		color: white;
		background-color: transparent;
	}
	&:hover{
		color: white;
		background-color: transparent;
	}

}
a {
	text-decoration: none;
}

img {
	width: 100%;
	height: 100%;
}

.no-padding {
	padding: 0;
}
/*image*/
.item-image-holder{
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-bottom: 80%;
	margin-bottom: 20px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	 img{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		left: 0;
		right: 0;
		margin: auto;
		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
	}
}


.bg-light {
		background: #f3f3f3 !important;
}
.d-flex{
	display: flex;
	
	@media screen and (max-width: $break-small) {
		display: block;
	   }
}
.align-item-center{
	align-items: center;
}

.item-center{
	align-items: center;
}
.flex-column-reverse{
		-webkit-box-orient: vertical!important;
		-webkit-box-direction: reverse!important;
		-ms-flex-direction: column-reverse!important;
		flex-direction: column-reverse!important;
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	
}
.site-header,
.header-content{
	transition: all 0.3s linear;
	background-color: transparent;
}
.fixed{
	position:fixed;
}
.ic-btn{
    display: block;
    text-align: center;
    text-transform: capitalize;

    font-size: 14px;
    /* padding-right: 56px; */
	border-color: $primary-color;
    border-style: solid;
	background-color: $primary-color;
    border-width: 2px;
    margin: 0px;
    
    padding: 0px 25px;
    color: white;
    text-decoration: none;
    white-space: normal;
    width: 176px;
    height: 50px;
    min-height: 0px;
    min-width: 0px;
	line-height: 3;
	font-weight: 500;
	transition: all 0.4s linear;
    max-height: none;
    max-width: none;
    overflow: hidden;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
	&::after{
		content: "";
		position: absolute;
		left: 0px;
		top:-200px;
		background-color: $primary-color;
		width: 100%;
		z-index: -1;
		height: 100%;
		transition: all 0.4s linear;
	}	
	&:hover{
	    background-color:white;
		color: white;
		font-weight: 700;	
		border: 1px solid $primary-color;
		&::after{
			top: 0;
		}
	}
	&.reverse-button{
		color: $primary-color;
		background-color: white;
		border: 1px solid $primary-color;
		&:hover{
			background-color: #6e94c9;
			
			color: white;
			border: 1px solid $primary-color;
		}
	}
	@media screen and (max-width: $break-small) {
		height: 40px;
	  }
}



.black-overlay{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
}
.overlay{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $primary-color;
	opacity: 0.5;
}
.no-padding{
	padding: 0!important;
}

.mb-scroll-container {
	@media screen and (max-width: $break-small) {
	    min-width: 380px;
		display: inline-block;
		vertical-align: top;
	}

}

.megamenu-background{
	transition: all 0.3s linear;
}
.select2-container{
	width: 100%!important;
}

.select2-container--default {
	.select2-results__options{
		/* width */
		&::-webkit-scrollbar {
			width: 5px;
		}
  
  /* Track */
  		&::-webkit-scrollbar-track {
			background: #f1f1f1;
		}
  
  /* Handle */
  		&::-webkit-scrollbar-thumb {
			background: $primary-color;
		}
  
  /* Handle on hover */
  		&::-webkit-scrollbar-thumb:hover {
			background: $primary-color;
		}
		.select2-results__option--highlighted[aria-selected]{
			background-color: $primary-color;
			color: white;
			border-radius: 10px;
		}
		.select2-dropdown--below {
			width: 300px !important;
			
			border-radius: 10px;
			border:none;
			top: 0px;
			@media screen and (max-width: $break-small) {
				width: auto!important;
			 
			}
		}
	}
	

}
.affix{
	position: fixed !important;
	top: 200px;
	width: 18%;
	@media screen and (max-width: $break-normal) {
		width: 25%;
	}
	@media screen and (max-width: $break-small) {
		position: relative !important;
		top: auto!important;
		width: 100%;
	}
}
.affix-bottom{
	position:absolute; 
	width: 100%;
	@media screen and (max-width: $break-small) {
		position: relative !important;
		top: auto!important;
	}
}

// .top-tab-search{
// 	display: flex;
// 	padding: 5px;
// 	box-shadow: 0px 12px 12px 0px #ddd;
// 	border-radius: 10px;
// 	margin-bottom: 50px;
// 	.tab-box{
// 		width:90% ;
// 		padding: 10px;
		
// 		.nav-tabs{
// 			margin-left: 0;
// 			border: 1px solid #ddd;
// 			padding: 2px;
// 			display: inline-block;
// 			li{
// 				a{
// 					background-color: white;
// 					color:$secondary-color;
// 					font-weight: 400;
// 					padding: 5px 10px;
// 					span{
// 					   border-top-left-radius: 5px;
// 					   border-bottom-right-radius: 5px; 
// 					   font-size: 12px;
// 					   font-weight: 600;
// 					   background-color: #9e59fd;
// 					   color: white;
// 					   text-transform: uppercase;
// 					   display: inline-block;
// 					   padding: 5px;
// 					}
// 				}
// 				&.active{
// 					a{
// 						background-color: $secondary-color;
// 						color:$primary-color-light;
// 						font-weight: 400;
// 					} 
// 				}
// 				&:hover{
// 					border-color:transparent ;
// 					a{
// 						border-color:transparent ;
// 					}
// 				}
// 			}
// 		}
		
// 	}
// 	.tab-search{
// 		width: 10%;
// 		float:right;
// 		height: auto;
// 		button{
// 			height: 100%;
// 			width: auto;
// 			border-radius: 10px;;
// 		}
// 	}
// }

.news-list{
	@include responsivescroll;
	padding: 0 15px;
	.news-single{
		margin-bottom: 30px;
		.news-image{
			margin-bottom: 0;
			border-radius: 15px;
			overflow: hidden;
		}
		.news-content{
			.entry-container{
				display: flex;
				.entry-content{
				   
					ul{
						margin-left: 0;
						margin-bottom: 0;
						li{
							display: inline;
							color: #7e7a79;
						}
					}
					&.date-time{
						 width: 70%;;
						ul{
							li{
								font-size: 12px;
								padding: 0px 5px;
								border-right: 1px solid #7e7a79;
								&:last-child{
									border-right: 0;
								}
							}
						}
					}
					&.news-icons{
						width: 30%;;
						ul{
							text-align: right;
							li{
								font-size: 16px;
								padding:0px 5px ;
								.fa-heart{
									transition: all 0.3s linear;
									overflow: hidden;
									&:hover{
										color: red;
									}
								}
							}
						}
					}
				}
			 
			}
			h4{
				margin-bottom: 5px;
				font-size: 16px;
			}
			span{
				color: $primary-color;
				font-weight: 400;
				font-size: 12px;
			}
		}
	}
}