
.banner-wrap{
   
    position: relative;
    .banner-slider{
        height: 100%;
        .banner-single{
     
            .item-image-holder{
                padding-bottom: 40%;
                margin-bottom: 0;
                animation: fadeOut 0.3s 1;
                @media screen and (max-width: $break-small) {
                    padding-bottom: 100%;
                    height: 100%;
                   }
                img{
                    object-position: top;
                }
                .banner-overlay{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: #ffffff42;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .banner-text{
                     
                        padding:30px;
                        text-align: left;
                        background-color: $primary-color-light; 
                        h1{
                            color: white;
                            font-size: 60px;
                            text-transform: capitalize;
                        }
                        p{
                            color: white;
                        }
                        .ic-btn{
                            color: white;
                        }
                    }
                }
            }
            &.slick-active{
                .item-image-holder{
                    animation: fadeInLeft 0.7s 1;
                    .banner-overlay{
                        .banner-text{
                            animation:fadeInRight 2s 1;
                        }
                    }
                }

            }
        }
        button{
            &.slick-arrow{
                top: 50%;
                z-index: 99;
                width: 45px;
                height:45px;
                box-shadow: 2px 2px 10px 2px #00000078;
                background-color: white;
                transition: all 0.3s linear;
                opacity: 0.8;
                border-radius: 50%;
                &.slick-next {
                    right: 2%;
                    &:before {
                        content: url(../images/icons/arrow-r.png);
                   
                        
                    }
                }
                &.slick-prev {
                    left: 2%;
                    
                    &:before {
                        content: url(../images/icons/arrow-l.png);
                        
                    }
                    @media screen and (max-width: $break-small) {
                        right: 25%;
                   }
                }
                &:hover{
                    box-shadow: none;
                    background-color: $primary-color;
                    &.slick-next {
                        
                        &:before {
                            content: url(../images/icons/arrow-r-hover.png);
                       
                            
                        }
                    }
                    &.slick-prev {
                    
                        &:before {
                            content: url(../images/icons/arrow-l-hover.png);
                            
                        }
                    
                    }
                }
            }
        }
    }
}

.brief-section{
    .brief-wrap{
        text-align: center;
        
        .brief-single{
            padding: 20px;
            border: 1px solid #ddd;
            margin-bottom: 20px;
            cursor: pointer;
            transition: all 0.3s linear;
            .icon-holder{
                width: 20%;
                margin: 0 auto 20px;
                padding-bottom: 20%;
            }
            .brief-content{
                text-align:center;
                h3{
                    margin-bottom: 5px;
                }
            }
            &:hover{
                box-shadow: 2px 2px 10px 2px #ddd;
            }
        }
        .ic-btn{
            margin:0 auto;
        }
    }
}
.about-section{
    @include title;
    .about-wrap{
        display: flex;
        flex-direction: row-reverse;
        .item-image-holder{
            padding-bottom: 100%;
            overflow: visible;
            box-shadow: 2px 2px 10px 2px #ddd;
            background-color: white
            // &::after{
            //     content: "";
            //     width: 100%;
            //     height: 100%;
            //     z-index: -1;
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     border: 2px solid #ddd;
            //   
            // }
        }
        .about-content{
            background-color: white;
            padding: 20px
        }
    }
}

.work-section{
    @include title;
    .work-holder{
        .work-wrap{
            padding:20px 0px;
            .work-single{
                text-align:center;
                position: relative;
                border: 1px solid #ddd;
                transition: all 0.3s linear;
                a{
                    height: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    .item-image-holder{
                        width: 20%;
                        padding-bottom: 20%;
                    }
                    h4{
                        color: $primary-color;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    border-left: 2px solid $primary-color;
                    border-bottom: 2px solid $primary-color;
                    bottom: 0;
                    width: 40px;
                    height: 40px;
                    left: 0;
                    transition: all 0.3s linear;
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    border-right: 2px solid $primary-color;
                    border-top: 2px solid $primary-color;
                    top: 0;
                    transition: all 0.3s linear;
                    right: 0;
                }
                &:hover{
                    box-shadow: 2px 2px 10px 2px #ddd;
                    &::before{
                        border-width: 4px;
                    }
                    &::after{
                        border-width: 4px;
                    }
                }
            }
        }
    }
}
.news-section{
    @include title;
    position: relative;
    &:after{
        content: '';
        width: 100%;
        position: absolute;
        height: 50%;
        top: 0;
        background-color: #f1f1f1;
        z-index: -1;
    }
    .news-holder{
        .news-wrap{
            .news-single{
                border: 1px solid #ddd;
                transition: all 0.3s linear;
                margin-bottom: 20px;
                .item-image-holder{
                    margin-bottom: 5px;
                }
                .news-content{
                    padding: 15px;
                    padding-top: 0;
                    .entry-container{
                        display: flex;
                        padding-top: 5px;
                        margin-bottom: 5px;
                        span{
                            width: 50%;
                            color: $primary-color;
                            &.date{
                                text-align:right;
                            }
                        }
                    }
                    a{
                        h5{
                            margin-bottom: 5px;
                            font-size: 25px;
                        }
                    }
                }
                &:hover{
                    box-shadow: 2px 2px 10px 2px #ddd;
                }
            }
        }
        .ic-btn{
            margin: 0 auto;
        }
    }
}

.gallery-section{
    @include title;
    .gallery-img-wrap{
        .gallery-img-single{
            &:first-child{
                width: 50%;
                display: block;
                @media screen and (max-width: $break-small) {
                   width: 100%;
                }
            }
            &:nth-child(2){
                display: block;

            }
            &:nth-child(3){
                display: block;

            }
            &:nth-child(4){
                display: block;

            }
            &:nth-child(5){
                display: block;
                position: relative;
                .item-image-holder{
                    &::after{
                        content: "View more photos";
                        background-color: black;
                        width: 100%;
                        height: 100%;
                        color: white;
                        position: absolute;
                        left: 0;
                        transition: all 0.3s linear;
                        justify-content: center;
                        top: 0;
                        display: flex;
                        text-align: center;
                        vertical-align: middle;
                        align-items: center;
                        opacity: 0.6;
                        font-size: 16px;
                    }
                    &:hover{
                        &::after{
                            top:0;
                        }
                    }
                }
               
            }
          
            width: 25%;
            float: left;
            display: none;
          
            padding: 0px 10px;
            @media screen and (max-width: $break-small) {
                width: 50%;
            }
            a{
                .item-image-holder{
                    box-shadow: 2px 1px 10px 2px #ddd;
                    &:hover{
                        box-shadow: 2px 10px 10px 2px #4e4a4a8c;
                    }
                }
                    
            }
        }
    }
    .ic-btn{
        margin: 0 auto;
    }
}

footer{
    
    background-color:#363636;
    padding-bottom: 0;
    padding-top: 60px;
    position: relative;
    .footer-widgets{
        border-bottom: 1px solid #ddd;
        .footer-logo-desc{
            .footer-logo{
                width: 70%;
                padding-bottom: 25%;
                margin-bottom: 5px;
            }
            p{
                color: white;
                margin-bottom: 5px;
            }
          
        }
        .footer-menu{
            
            padding-bottom: 20px;
            h4{
                color:white;
                display: inline-block;
                position: relative;
                margin-bottom: 5px;
                padding: 5px;
                &::after{
                    content: "";
                    position: absolute;
                    width:50px;
                    height: 1px;
                    background-color: white;
                    right: 0;
                    bottom: 0;
                }
            }
            
            ul{
                list-style: none;
                margin-left: 0;
                li{
                    
                    padding: 5px 5px 10px;
                    a{
                        color:#fff;
                        font-size:14px;
                        font-weight: 600;
                        display: block;
                    }
                }
            }
            .short-detail{
                .footer-contact{
                    ul{
                        li{
                            color:white;
                            display: block;
                            i{
                                padding-right: 10px;
                            }
                        }
                    }
                }
                ul{
                    margin-left: 0;
                    li{
                        display: inline-block;
                        padding: 10px;
                        padding-bottom: 5px;
                    }
                }
            }
        }
    
    }
    // &::before{
     
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 180px;
    //     width: 100%;
    //     background-color:  #d3edda;
    //     left: 0;
    //     top: -30px;
    //     z-index: -1;
    //     transform: skewY(5deg);
    // }
    // &::after{
     
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 180px;
    //     width: 100%;
    //     background-color: #89a6d1;
    //     left: 0;
    //     top: -30px;
    //     z-index: -1;
    //     transform: skewY(-5deg);
    // }
        .copyright{
            padding: 10px;
            text-align:center;
            p{
                color: #b2b0b0;
                margin-bottom: 0;
            }
        }
        .social-menu{
            text-align:center;
            ul{
                li{
                    display: inline-block;
                    padding: 15px;
                    a{
                        color: #b2b0b0;
                        .fa{
                            color: #b2b0b0;
                        }
                    }
                }
            }
        }
}