$primary-color:#32ab4a;
$primary-color-light:#32ab4a8c;
$secondary-color:#0e263e;
$hover-color: #353c50;
$entry-color:#D5D5D5;
$text-color: #727272;;
$title-color:#0e263e;
$font-primary: 'Poppins', sans-serif;
$font-title:'Poppins', sans-serif;
$twitter-color:#00acee;
$facebook-color:#4267B2;
$instagram-color:linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
$youtube-color:#FF0000;
$google-color:#db4a39;
$footer-color:#f5f5f5;
$break-small:767px;
$break-medium: 990px;
$break-normal:1499px;
.white-text {
    color: #fff;
}

.footer--dark {
    background-color: $footer-color;
}

.entry-style {
    color: $entry-color;
    text-transform: uppercase;

    span {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #83858F;

        a {
            color: $primary-color;
        }
    }
}

// @mixin inputwithbutton {
//     form {
//         position: relative;

//         span {
//             input[type=text] {
//                 width: 100%;
//                 display: inline-block;
//                 margin-bottom: 0;
//                 border-radius: 35px;
//                 position: relative;
//             }

//             input[type=submit] {
//                 top: 0;
//                 float: right;
//                 margin-bottom: 0;
//                 position: absolute;
//                 right: 0;
//                 width: 30%;
//             }
//         }
//     }

// }




// @mixin title-footer {
//     .footer-title {
//         position: relative;

//         h3 {
//             display: inline-block;
//             position: relative;

//             &:after {
//                 content: "";
//                 position: absolute;
//                 width: 60px;
//                 height: 4px;
//                 right: 0;
//                 bottom: -20%;
//                 background-color: $secondary-color;
//             }
//         }
//     }
// }

// @mixin icons {
//     width: 20%;
//     padding-bottom: 20%;
//     margin: 0 auto;
// }

// @mixin responsivescroll {
//     max-width: 100%;
//     display: inline-flex;
//     vertical-align: top;
//     overflow-x: scroll;
// }

@mixin responsivescroll {
    @media screen and (max-width: $break-small) {
    max-width: 100%;
    display: inline-flex;
    vertical-align: top;
    overflow-x: scroll;
    }
}
@mixin title{
    .section-content{
        @media screen and (max-width: $break-small) {
            padding: 0px 5px;
            margin-bottom: 20px;
        }
        .section-title{
            position: relative;
            z-index: 9;
           
           margin-bottom: 15px;
            h2{
                margin-bottom: 0;
                color: $primary-color;
               text-transform: capitalize;
                font-size: 30px;
                font-weight: 500;
                display: inline-block;
                font-size: 38px;
                width: auto;
                position: relative;
                            
                @media screen and (max-width: $break-small) {
                    font-size: 24px;
                }
             
            }
           
        }
      
        &.title-reversed{
            .section-title{
                h3{
                    color:white;
                    @media screen and (max-width: $break-small) {
                        font-size: 24px;
                    }
                 
                }
                span{
                    font-size: 14px;
                    color:#f5f5f5;
                }
            }
          p{
              color: white;
          }
        }
        
    }
   
}

// @mixin page-banner {
//     background-size: cover;
//     align-items: flex-end;
//     .inner-title{
//         position: relative;
//         h2{
//             color: white;
//             font-size: 60px;
//             font-weight: 200;
//         }
//     }
// }