.white-text {
  color: #fff;
}

.footer--dark {
  background-color: #f5f5f5;
}

.entry-style {
  color: #D5D5D5;
  text-transform: uppercase;
}

.entry-style span {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #83858F;
}

.entry-style span a {
  color: #32ab4a;
}

html {
  font-family: "Poppins", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

section {
  padding: 60px 0px 40px;
}

footer {
  padding: 30px 0px;
}

.page-content {
  padding: 30px 0px 0px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  width: 16px;
  height: 15px;
  vertical-align: middle;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  /*border: 1px solid #c0c0c0;*/
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

.my-10 {
  margin: 10px 0px;
}

.item-lg {
  display: block;
}

@media screen and (max-width: 767px) {
  .item-lg {
    display: none;
  }
}

.item-sm {
  display: none;
}

@media screen and (max-width: 767px) {
  .item-sm {
    display: inline-block;
    width: 100%;
  }
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

tr {
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}

table caption {
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

table th a {
  color: #000;
}

/*--------------------------------------------------------------
 Typography
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  color: #666;
  font-size: 14px;
  height: 46px;
  border: 1px solid #E3E4E8;
  background-color: #fff;
  width: 100%;
  margin-bottom: 24px;
  padding: 0 12px;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  line-height: 1.6;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 600;
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  margin: 0 0 15px 0;
  font-family: "Poppins", sans-serif;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0;
  padding: 30px 5px 5px 0px;
}

blockquote p {
  margin: 0 0 1em;
  font-style: italic;
}

blockquote, q {
  quotes: "" "";
  position: relative;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #f7f7f7;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  word-wrap: break-word;
}

hr {
  background-color: #ddd;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

ul,
ol {
  margin: 0 0 0.5em 1em;
  padding: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: 100%;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  vertical-align: middle;
  width: 100%;
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #e5e5e5;
}

td,
th {
  padding: 5px 10px;
}

/*--------------------------------------------------------------
#Forms
--------------------------------------------------------------*/
/*button, a.button, input[type="button"], input[type="reset"], input[type="submit"] {
display: inline-block;
font-size: 16px;
margin: 10px;
padding: 10px 30px;
color: #ffffff;
border-radius: 0px;
background:#246A55;
border: none;
}*/
a.button {
  min-width: 150px;
}

/*button:hover,
a.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
background:transparent;
border: 1px solid #ffc341;
color: white;
}*/
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="number"] {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea,
select {
  color: #666;
  border: 1px solid #ddd;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"],
input[type="date"],
input[type="time"],
textarea:focus {
  color: #111;
  outline: none;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="url"],
input[type="varchar"],
input[type="password"],
input[type="search"],
input[type="number"] {
  padding: 10px 0 10px 15px;
}

input[type="search"] {
  padding: 12px 0px 8px 15px;
}

select {
  width: 100%;
  padding: 5px;
}

textarea {
  padding: 10px;
  width: 100%;
}

.form-submit input#submit {
  margin: 20px 0 10px 0;
}

.form-submit {
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
  color: #727272;
}

/*input[type="submit"] {*/
/*width: 100%;*/
/*}*/
/*--------------------------------------------------------------
#. Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#.#. Links
--------------------------------------------------------------*/
a {
  color: #000;
  outline: none;
  text-decoration: underline;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #32ab4a;
  text-decoration: none;
  outline: inherit;
}

a:active {
  outline: 0;
  color: #32ab4a;
  text-decoration: none;
  outline: 0;
}

a:focus {
  color: #32ab4a;
  text-decoration: none;
  outline: inherit;
}

a.more-link {
  margin-top: 10px;
  display: inline-block;
  padding: 7px 13px;
  background: #08c299;
  color: #fff;
  position: relative;
  z-index: 0;
  font-size: 16px;
  font-weight: 500;
}

a.more-link:hover {
  background: #000;
}

/*----reset---*/
.clear {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clearfix:before {
  clear: both;
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
  clear: both;
}

.container::before {
  display: table;
  content: "";
}

.container::after {
  display: table;
  content: "";
  clear: both;
}

.section-content {
  padding: 0px 15px;
}

p {
  font-family: "Poppins", sans-serif;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-apdpearance: none;
}

input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background-color: transparent;
}

input[type="date"]:focus {
  color: white;
  background-color: transparent;
}

input[type="date"]:hover {
  color: white;
  background-color: transparent;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.no-padding {
  padding: 0;
}

/*image*/
.item-image-holder {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 80%;
  margin-bottom: 20px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.item-image-holder img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bg-light {
  background: #f3f3f3 !important;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .d-flex {
    display: block;
  }
}

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.site-header,
.header-content {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: transparent;
}

.fixed {
  position: fixed;
}

.ic-btn {
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-size: 14px;
  /* padding-right: 56px; */
  border-color: #32ab4a;
  border-style: solid;
  background-color: #32ab4a;
  border-width: 2px;
  margin: 0px;
  padding: 0px 25px;
  color: white;
  text-decoration: none;
  white-space: normal;
  width: 176px;
  height: 50px;
  min-height: 0px;
  min-width: 0px;
  line-height: 3;
  font-weight: 500;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  max-height: none;
  max-width: none;
  overflow: hidden;
  opacity: 1;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform-origin: 50% 50% 0px;
          transform-origin: 50% 50% 0px;
}

.ic-btn::after {
  content: "";
  position: absolute;
  left: 0px;
  top: -200px;
  background-color: #32ab4a;
  width: 100%;
  z-index: -1;
  height: 100%;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.ic-btn:hover {
  background-color: white;
  color: white;
  font-weight: 700;
  border: 1px solid #32ab4a;
}

.ic-btn:hover::after {
  top: 0;
}

.ic-btn.reverse-button {
  color: #32ab4a;
  background-color: white;
  border: 1px solid #32ab4a;
}

.ic-btn.reverse-button:hover {
  background-color: #6e94c9;
  color: white;
  border: 1px solid #32ab4a;
}

@media screen and (max-width: 767px) {
  .ic-btn {
    height: 40px;
  }
}

.black-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #32ab4a;
  opacity: 0.5;
}

.no-padding {
  padding: 0 !important;
}

@media screen and (max-width: 767px) {
  .mb-scroll-container {
    min-width: 380px;
    display: inline-block;
    vertical-align: top;
  }
}

.megamenu-background {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-results__options {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.select2-container--default .select2-results__options::-webkit-scrollbar {
  width: 5px;
}

.select2-container--default .select2-results__options::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.select2-container--default .select2-results__options::-webkit-scrollbar-thumb {
  background: #32ab4a;
}

.select2-container--default .select2-results__options::-webkit-scrollbar-thumb:hover {
  background: #32ab4a;
}

.select2-container--default .select2-results__options .select2-results__option--highlighted[aria-selected] {
  background-color: #32ab4a;
  color: white;
  border-radius: 10px;
}

.select2-container--default .select2-results__options .select2-dropdown--below {
  width: 300px !important;
  border-radius: 10px;
  border: none;
  top: 0px;
}

@media screen and (max-width: 767px) {
  .select2-container--default .select2-results__options .select2-dropdown--below {
    width: auto !important;
  }
}

.affix {
  position: fixed !important;
  top: 200px;
  width: 18%;
}

@media screen and (max-width: 1499px) {
  .affix {
    width: 25%;
  }
}

@media screen and (max-width: 767px) {
  .affix {
    position: relative !important;
    top: auto !important;
    width: 100%;
  }
}

.affix-bottom {
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .affix-bottom {
    position: relative !important;
    top: auto !important;
  }
}

.news-list {
  padding: 0 15px;
}

@media screen and (max-width: 767px) {
  .news-list {
    max-width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: top;
    overflow-x: scroll;
  }
}

.news-list .news-single {
  margin-bottom: 30px;
}

.news-list .news-single .news-image {
  margin-bottom: 0;
  border-radius: 15px;
  overflow: hidden;
}

.news-list .news-single .news-content .entry-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-list .news-single .news-content .entry-container .entry-content ul {
  margin-left: 0;
  margin-bottom: 0;
}

.news-list .news-single .news-content .entry-container .entry-content ul li {
  display: inline;
  color: #7e7a79;
}

.news-list .news-single .news-content .entry-container .entry-content.date-time {
  width: 70%;
}

.news-list .news-single .news-content .entry-container .entry-content.date-time ul li {
  font-size: 12px;
  padding: 0px 5px;
  border-right: 1px solid #7e7a79;
}

.news-list .news-single .news-content .entry-container .entry-content.date-time ul li:last-child {
  border-right: 0;
}

.news-list .news-single .news-content .entry-container .entry-content.news-icons {
  width: 30%;
}

.news-list .news-single .news-content .entry-container .entry-content.news-icons ul {
  text-align: right;
}

.news-list .news-single .news-content .entry-container .entry-content.news-icons ul li {
  font-size: 16px;
  padding: 0px 5px;
}

.news-list .news-single .news-content .entry-container .entry-content.news-icons ul li .fa-heart {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  overflow: hidden;
}

.news-list .news-single .news-content .entry-container .entry-content.news-icons ul li .fa-heart:hover {
  color: red;
}

.news-list .news-single .news-content h4 {
  margin-bottom: 5px;
  font-size: 16px;
}

.news-list .news-single .news-content span {
  color: #32ab4a;
  font-weight: 400;
  font-size: 12px;
}

.style-rounded {
  border-radius: 5px;
}

.style-shadow {
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

.site-header {
  background-color: white;
  position: relative;
  width: 100%;
  z-index: 1000;
  top: 0;
}

@media screen and (max-width: 767px) {
  .site-header {
    position: relative;
  }
}

.site-header .top-header {
  background-color: #32ab4a;
}

.site-header .top-header .head-contact {
  padding: 5px 0px;
}

.site-header .top-header .head-contact ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 5px;
}

.site-header .top-header .head-contact ul li i {
  color: white;
}

.site-header .top-header .head-contact ul li span {
  color: white;
  margin-left: 5px;
}

.site-header .top-header .social-icons {
  text-align: right;
}

.site-header .top-header .social-icons ul {
  margin-bottom: 0;
}

.site-header .top-header .social-icons ul li {
  display: inline;
}

.site-header .top-header .social-icons ul li a {
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.site-header .top-header .social-icons ul li a:hover {
  opacity: 0.7;
}

.site-header .bottom-header {
  padding: 20px 0px;
}

.site-header .bottom-header .site-branding #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-header .bottom-header .site-branding #logo .custom-logo-link {
  float: left;
  width: 100%;
  font-size: 30px;
  font-weight: 900;
  text-shadow: -0.0375em 0 0 #3030301a;
  color: #32ab4a;
  text-transform: uppercase;
  position: relative;
}

.site-header .bottom-header .site-branding #logo .custom-logo-link span {
  color: white;
  background-color: #32ab4a;
  padding: 2px;
  text-transform: lowercase;
}

@media screen and (max-width: 767px) {
  .site-header .bottom-header .site-branding #logo .custom-logo-link {
    font-size: 20px;
    padding: 25px 0px;
  }
}

@media screen and (max-width: 1499px) {
  .site-header .bottom-header .site-branding #logo .custom-logo-link {
    font-size: 25px;
  }
}

.site-header .bottom-header .site-branding #logo .custom-logo-link img {
  -o-object-fit: contain;
     object-fit: contain;
}

.site-header .main-navigation {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  float: left;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .site-header .main-navigation {
    display: none;
  }
}

.site-header .main-navigation ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.site-header .main-navigation ul .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.site-header .main-navigation ul .sub-menu .sub-menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 80%;
}

.site-header .main-navigation ul .sub-menu .sub-menu-wrap .sub-menu-list {
  border-right: 1px solid #ddd;
  padding: 0px 30px;
}

.site-header .main-navigation ul .sub-menu .sub-menu-wrap .sub-menu-list:last-child {
  border-right: 0;
}

.site-header .main-navigation ul ul {
  display: block;
  margin: 0;
  min-width: 220px;
}

.site-header .main-navigation ul ul ul {
  right: 100%;
  top: 0;
  left: inherit;
}

.site-header .main-navigation ul ul ul::after {
  content: none;
}

.site-header .main-navigation ul ul ul ul {
  display: none;
}

.site-header .main-navigation ul ul ul li:hover {
  border-bottom: 2px solid #32ab4a;
}

.site-header .main-navigation ul ul ul li:hover > ul {
  display: block;
}

.site-header .main-navigation ul ul li:hover > ul {
  right: 100%;
}

.site-header .main-navigation ul ul li:last-child > a {
  border: none;
}

.site-header .main-navigation ul ul::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  z-index: 9999;
  right: 32px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 12px;
  width: 12px;
}

.site-header .main-navigation ul ul a {
  -webkit-transition: padding 0.2s ease-in-out 0s;
  transition: padding 0.2s ease-in-out 0s;
  color: white;
  position: relative;
  height: auto;
  padding: 10px 15px 10px 30px;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}

.site-header .main-navigation ul > li:hover > ul {
  right: 0;
  z-index: 9999;
  opacity: 1;
  display: block;
  -webkit-animation: fadeInUp 0.3s ease-in;
  animation: fadeInUp 0.3s ease-in;
}

.site-header .main-navigation ul li {
  float: revert;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-bottom: 2px solid transparent;
  transition: all 0.3s linear;
}

.site-header .main-navigation ul li:hover {
  border-bottom: 2px solid #32ab4a;
}

.site-header .main-navigation ul li a {
  color: #32ab4a;
  display: block;
  font-size: 14px;
  padding: 10px 25px;
  z-index: 99;
  position: relative;
  border-bottom: 1px solid transparent;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  webkit-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1499px) {
  .site-header .main-navigation ul li a {
    font-size: 12px;
    padding: 5px 10px;
  }
}

.site-header .main-navigation ul li a:hover {
  color: #32ab4a;
  border-bottom: 1px solid #32ab4a;
}

.site-header .main-navigation ul li.first-child a {
  padding-left: 0;
}

.site-header .main-navigation ul li.page_item_has_children > a {
  padding-right: 30px;
}

.site-header .main-navigation ul li.menu-item-has-childrenv > a {
  padding-right: 30px;
}

.site-header .main-navigation li {
  display: inline-block;
  margin-bottom: 0;
  float: left;
}

.site-header .main-navigation li li {
  float: none;
  display: block;
}

.site-header .main-navigation li li > a:hover::before {
  display: none;
}

.site-header .main-navigation li li:hover > a::before {
  display: none;
}

.site-header .main-navigation li > a:hover {
  color: #32ab4a;
}

.site-header .main-navigation li:hover > a {
  color: #32ab4a;
}

.site-header .main-navigation li .sub-menu h4 {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.site-header .main-navigation li .sub-menu li {
  border-bottom: none;
}

.site-header .main-navigation li .sub-menu li a {
  opacity: 1;
  color: #0e263e;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 5px 0px;
  text-transform: uppercase;
}

.site-header .main-navigation li .sub-menu li:hover {
  border-bottom: none;
}

.site-header .main-navigation li .sub-menu li:hover > a {
  color: #32ab4a;
  opacity: 1;
}

.site-header .main-navigation li li.current-menu-item > a::before {
  display: none;
}

.site-header .main-navigation li.current-menu-item {
  border-bottom: 2px solid #32ab4a;
}

.site-header .main-navigation li.current-menu-item > a {
  color: #32ab4a;
}

.site-header .main-navigation li.current_page_item > a {
  color: #727272;
}

.site-header .main-navigation li.current_page_item > a::before {
  display: none;
}

.site-header .main-navigation .menu-toggle {
  display: none;
}

.modal-backdrop.fade {
  z-index: 99;
}

.no-display {
  display: none;
}

#breadcrumb-list {
  position: relative;
  z-index: 1;
}

.breadcrumb-wrap {
  text-align: left;
  padding: 10px 0px;
  background-color: #f5f5f5;
}

.breadcrumb-wrap .breadcrumbs ul {
  margin-left: 0px;
}

.breadcrumb-trail.breadcrumbs ul li {
  display: inline-block;
  color: white;
  font-size: 20px;
}

.breadcrumb-trail.breadcrumbs ul li a {
  color: #32ab4a;
  padding-right: 5px;
  font-weight: bold;
  font-size: 14px;
}

.breadcrumb-trail.breadcrumbs ul li a:after {
  content: "/ ";
  padding-left: 5px;
  font-family: fontawesome;
  font-weight: bold;
  color: #32ab4a;
}

.breadcrumb-trail.breadcrumbs ul .trail-end {
  color: #4a4a4a;
  font-size: 12px;
  font-weight: bold;
}

.entry-container {
  padding-top: 15px;
}

.entry-container a {
  display: inline-block;
  color: #4a4a4a;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
}

.menu-item-has-children:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  display: block;
}

.menu-item-has-children .dropdown-toggle {
  width: auto;
  color: black;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 14%;
  right: -12px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 0;
}

.menu-item-has-children .dropdown-toggle i {
  font-size: 14px;
}

@media screen and (max-width: 1499px) {
  .menu-item-has-children .dropdown-toggle {
    top: 0;
  }
}

.menu-item-has-children:hover .dropdown-toggle {
  color: #32ab4a;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-header {
  border-bottom: 0;
}

#mobile-nav-toggle {
  position: fixed;
  right: 0px;
  z-index: 9998;
  top: 2%;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#mobile-nav-toggle.cross {
  top: 0%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 960px) {
  #mobile-nav-toggle {
    display: inline-block;
    right: 0;
  }
  .mobile-nav-active #mobile-nav-toggle {
    left: 50%;
  }
}

@media only screen and (max-width: 767px) {
  #mobile-nav-toggle {
    width: 100px;
    background-color: white;
  }
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 9997;
  background: #fff;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #000;
  font-size: 13px;
  text-transform: capitalize;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 400;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #129dbc;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #fff;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: #e8e8e8b3;
  display: none;
}

.mobile-nav-active #mobile-nav {
  left: 0;
}

.login-modal.fade .modal-dialog {
  -webkit-transform: translate(25%, 0);
          transform: translate(25%, 0);
  border-radius: 15px;
}

.login-modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.login-modal .modal-dialog {
  margin: auto;
  float: right;
  height: 100%;
  width: 400px;
  -webkit-transform: translate(5%, 0);
          transform: translate(5%, 0);
}

@media screen and (max-width: 767px) {
  .login-modal .modal-dialog {
    margin: 200px auto;
    width: 80%;
    -webkit-transform: translate(0, 60px);
            transform: translate(0, 60px);
  }
}

.login-modal .modal-dialog .modal-content {
  height: 100%;
}

.login-modal .modal-dialog .modal-content .modal-header {
  background-color: white;
  padding: 5px;
  border-bottom: 0;
}

.login-modal .modal-dialog .modal-content .modal-header h4 {
  color: #32ab4a;
}

.login-modal .modal-dialog .modal-content .modal-header button.close {
  position: absolute;
  width: 100px;
  height: 40px;
  right: 0%;
  top: 0%;
  opacity: 1;
  z-index: 10;
  background-color: white;
  color: #32ab4a;
}

.login-modal .modal-dialog .modal-content .modal-header button.close span {
  font-weight: 200;
  font-size: 16px;
}

.login-modal .modal-dialog .modal-content .modal-body {
  height: 100%;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile {
  width: 100%;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile h2 {
  color: #32ab4a;
  padding-bottom: 10px;
  border-bottom: 1px solid #32ab4a;
  margin-bottom: 30px;
  font-weight: 500;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile form p {
  margin-bottom: 15px;
  font-weight: 500;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile form p label sup {
  color: red;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile form p input {
  border-bottom: 1px solid #ddd;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile form p input:nth-child(2) {
  margin-bottom: 10px;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile form p input.prop-btn {
  color: white;
  margin-bottom: 0;
  width: 100%;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile form p input.prop-btn:hover {
  border: 1px solid #32ab4a;
  color: #32ab4a;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile h3 {
  display: block;
  font-size: 40px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 20px 0px;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile a {
  padding: 0px 0px 20px;
  display: block;
  color: #32ab4a;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile .prop-btn {
  width: 100%;
  padding: 10px 0px;
  font-size: 15px;
  line-height: 2;
  margin-bottom: 20px;
  border-radius: 0;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile .prop-btn.reverse-button {
  -webkit-box-shadow: 2px 8px 7px 2px #ddd;
          box-shadow: 2px 8px 7px 2px #ddd;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile .prop-btn.reverse-button:hover {
  color: white;
}

.banner-wrap {
  position: relative;
}

.banner-wrap .banner-slider {
  height: 100%;
}

.banner-wrap .banner-slider .banner-single .item-image-holder {
  padding-bottom: 40%;
  margin-bottom: 0;
  -webkit-animation: fadeOut 0.3s 1;
          animation: fadeOut 0.3s 1;
}

@media screen and (max-width: 767px) {
  .banner-wrap .banner-slider .banner-single .item-image-holder {
    padding-bottom: 100%;
    height: 100%;
  }
}

.banner-wrap .banner-slider .banner-single .item-image-holder img {
  -o-object-position: top;
     object-position: top;
}

.banner-wrap .banner-slider .banner-single .item-image-holder .banner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-wrap .banner-slider .banner-single .item-image-holder .banner-overlay .banner-text {
  padding: 30px;
  text-align: left;
  background-color: #32ab4a8c;
}

.banner-wrap .banner-slider .banner-single .item-image-holder .banner-overlay .banner-text h1 {
  color: white;
  font-size: 60px;
  text-transform: capitalize;
}

.banner-wrap .banner-slider .banner-single .item-image-holder .banner-overlay .banner-text p {
  color: white;
}

.banner-wrap .banner-slider .banner-single .item-image-holder .banner-overlay .banner-text .ic-btn {
  color: white;
}

.banner-wrap .banner-slider .banner-single.slick-active .item-image-holder {
  -webkit-animation: fadeInLeft 0.7s 1;
          animation: fadeInLeft 0.7s 1;
}

.banner-wrap .banner-slider .banner-single.slick-active .item-image-holder .banner-overlay .banner-text {
  -webkit-animation: fadeInRight 2s 1;
          animation: fadeInRight 2s 1;
}

.banner-wrap .banner-slider button.slick-arrow {
  top: 50%;
  z-index: 99;
  width: 45px;
  height: 45px;
  -webkit-box-shadow: 2px 2px 10px 2px #00000078;
          box-shadow: 2px 2px 10px 2px #00000078;
  background-color: white;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0.8;
  border-radius: 50%;
}

.banner-wrap .banner-slider button.slick-arrow.slick-next {
  right: 2%;
}

.banner-wrap .banner-slider button.slick-arrow.slick-next:before {
  content: url(../images/icons/arrow-r.png);
}

.banner-wrap .banner-slider button.slick-arrow.slick-prev {
  left: 2%;
}

.banner-wrap .banner-slider button.slick-arrow.slick-prev:before {
  content: url(../images/icons/arrow-l.png);
}

@media screen and (max-width: 767px) {
  .banner-wrap .banner-slider button.slick-arrow.slick-prev {
    right: 25%;
  }
}

.banner-wrap .banner-slider button.slick-arrow:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #32ab4a;
}

.banner-wrap .banner-slider button.slick-arrow:hover.slick-next:before {
  content: url(../images/icons/arrow-r-hover.png);
}

.banner-wrap .banner-slider button.slick-arrow:hover.slick-prev:before {
  content: url(../images/icons/arrow-l-hover.png);
}

.brief-section .brief-wrap {
  text-align: center;
}

.brief-section .brief-wrap .brief-single {
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.brief-section .brief-wrap .brief-single .icon-holder {
  width: 20%;
  margin: 0 auto 20px;
  padding-bottom: 20%;
}

.brief-section .brief-wrap .brief-single .brief-content {
  text-align: center;
}

.brief-section .brief-wrap .brief-single .brief-content h3 {
  margin-bottom: 5px;
}

.brief-section .brief-wrap .brief-single:hover {
  -webkit-box-shadow: 2px 2px 10px 2px #ddd;
          box-shadow: 2px 2px 10px 2px #ddd;
}

.brief-section .brief-wrap .ic-btn {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .about-section .section-content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
}

.about-section .section-content .section-title {
  position: relative;
  z-index: 9;
  margin-bottom: 15px;
}

.about-section .section-content .section-title h2 {
  margin-bottom: 0;
  color: #32ab4a;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 500;
  display: inline-block;
  font-size: 38px;
  width: auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  .about-section .section-content .section-title h2 {
    font-size: 24px;
  }
}

.about-section .section-content.title-reversed .section-title h3 {
  color: white;
}

@media screen and (max-width: 767px) {
  .about-section .section-content.title-reversed .section-title h3 {
    font-size: 24px;
  }
}

.about-section .section-content.title-reversed .section-title span {
  font-size: 14px;
  color: #f5f5f5;
}

.about-section .section-content.title-reversed p {
  color: white;
}

.about-section .about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about-section .about-wrap .item-image-holder {
  padding-bottom: 100%;
  overflow: visible;
  -webkit-box-shadow: 2px 2px 10px 2px #ddd;
          box-shadow: 2px 2px 10px 2px #ddd;
  background-color: white;
}

.about-section .about-wrap .about-content {
  background-color: white;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .work-section .section-content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
}

.work-section .section-content .section-title {
  position: relative;
  z-index: 9;
  margin-bottom: 15px;
}

.work-section .section-content .section-title h2 {
  margin-bottom: 0;
  color: #32ab4a;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 500;
  display: inline-block;
  font-size: 38px;
  width: auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  .work-section .section-content .section-title h2 {
    font-size: 24px;
  }
}

.work-section .section-content.title-reversed .section-title h3 {
  color: white;
}

@media screen and (max-width: 767px) {
  .work-section .section-content.title-reversed .section-title h3 {
    font-size: 24px;
  }
}

.work-section .section-content.title-reversed .section-title span {
  font-size: 14px;
  color: #f5f5f5;
}

.work-section .section-content.title-reversed p {
  color: white;
}

.work-section .work-holder .work-wrap {
  padding: 20px 0px;
}

.work-section .work-holder .work-wrap .work-single {
  text-align: center;
  position: relative;
  border: 1px solid #ddd;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.work-section .work-holder .work-wrap .work-single a {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-section .work-holder .work-wrap .work-single a .item-image-holder {
  width: 20%;
  padding-bottom: 20%;
}

.work-section .work-holder .work-wrap .work-single a h4 {
  color: #32ab4a;
}

.work-section .work-holder .work-wrap .work-single::after {
  content: "";
  position: absolute;
  border-left: 2px solid #32ab4a;
  border-bottom: 2px solid #32ab4a;
  bottom: 0;
  width: 40px;
  height: 40px;
  left: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.work-section .work-holder .work-wrap .work-single::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-right: 2px solid #32ab4a;
  border-top: 2px solid #32ab4a;
  top: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  right: 0;
}

.work-section .work-holder .work-wrap .work-single:hover {
  -webkit-box-shadow: 2px 2px 10px 2px #ddd;
          box-shadow: 2px 2px 10px 2px #ddd;
}

.work-section .work-holder .work-wrap .work-single:hover::before {
  border-width: 4px;
}

.work-section .work-holder .work-wrap .work-single:hover::after {
  border-width: 4px;
}

.news-section {
  position: relative;
}

@media screen and (max-width: 767px) {
  .news-section .section-content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
}

.news-section .section-content .section-title {
  position: relative;
  z-index: 9;
  margin-bottom: 15px;
}

.news-section .section-content .section-title h2 {
  margin-bottom: 0;
  color: #32ab4a;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 500;
  display: inline-block;
  font-size: 38px;
  width: auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  .news-section .section-content .section-title h2 {
    font-size: 24px;
  }
}

.news-section .section-content.title-reversed .section-title h3 {
  color: white;
}

@media screen and (max-width: 767px) {
  .news-section .section-content.title-reversed .section-title h3 {
    font-size: 24px;
  }
}

.news-section .section-content.title-reversed .section-title span {
  font-size: 14px;
  color: #f5f5f5;
}

.news-section .section-content.title-reversed p {
  color: white;
}

.news-section:after {
  content: '';
  width: 100%;
  position: absolute;
  height: 50%;
  top: 0;
  background-color: #f1f1f1;
  z-index: -1;
}

.news-section .news-holder .news-wrap .news-single {
  border: 1px solid #ddd;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-bottom: 20px;
}

.news-section .news-holder .news-wrap .news-single .item-image-holder {
  margin-bottom: 5px;
}

.news-section .news-holder .news-wrap .news-single .news-content {
  padding: 15px;
  padding-top: 0;
}

.news-section .news-holder .news-wrap .news-single .news-content .entry-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  margin-bottom: 5px;
}

.news-section .news-holder .news-wrap .news-single .news-content .entry-container span {
  width: 50%;
  color: #32ab4a;
}

.news-section .news-holder .news-wrap .news-single .news-content .entry-container span.date {
  text-align: right;
}

.news-section .news-holder .news-wrap .news-single .news-content a h5 {
  margin-bottom: 5px;
  font-size: 25px;
}

.news-section .news-holder .news-wrap .news-single:hover {
  -webkit-box-shadow: 2px 2px 10px 2px #ddd;
          box-shadow: 2px 2px 10px 2px #ddd;
}

.news-section .news-holder .ic-btn {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .gallery-section .section-content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
}

.gallery-section .section-content .section-title {
  position: relative;
  z-index: 9;
  margin-bottom: 15px;
}

.gallery-section .section-content .section-title h2 {
  margin-bottom: 0;
  color: #32ab4a;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 500;
  display: inline-block;
  font-size: 38px;
  width: auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  .gallery-section .section-content .section-title h2 {
    font-size: 24px;
  }
}

.gallery-section .section-content.title-reversed .section-title h3 {
  color: white;
}

@media screen and (max-width: 767px) {
  .gallery-section .section-content.title-reversed .section-title h3 {
    font-size: 24px;
  }
}

.gallery-section .section-content.title-reversed .section-title span {
  font-size: 14px;
  color: #f5f5f5;
}

.gallery-section .section-content.title-reversed p {
  color: white;
}

.gallery-section .gallery-img-wrap .gallery-img-single {
  width: 25%;
  float: left;
  display: none;
  padding: 0px 10px;
}

.gallery-section .gallery-img-wrap .gallery-img-single:first-child {
  width: 50%;
  display: block;
}

@media screen and (max-width: 767px) {
  .gallery-section .gallery-img-wrap .gallery-img-single:first-child {
    width: 100%;
  }
}

.gallery-section .gallery-img-wrap .gallery-img-single:nth-child(2) {
  display: block;
}

.gallery-section .gallery-img-wrap .gallery-img-single:nth-child(3) {
  display: block;
}

.gallery-section .gallery-img-wrap .gallery-img-single:nth-child(4) {
  display: block;
}

.gallery-section .gallery-img-wrap .gallery-img-single:nth-child(5) {
  display: block;
  position: relative;
}

.gallery-section .gallery-img-wrap .gallery-img-single:nth-child(5) .item-image-holder::after {
  content: "View more photos";
  background-color: black;
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.6;
  font-size: 16px;
}

.gallery-section .gallery-img-wrap .gallery-img-single:nth-child(5) .item-image-holder:hover::after {
  top: 0;
}

@media screen and (max-width: 767px) {
  .gallery-section .gallery-img-wrap .gallery-img-single {
    width: 50%;
  }
}

.gallery-section .gallery-img-wrap .gallery-img-single a .item-image-holder {
  -webkit-box-shadow: 2px 1px 10px 2px #ddd;
          box-shadow: 2px 1px 10px 2px #ddd;
}

.gallery-section .gallery-img-wrap .gallery-img-single a .item-image-holder:hover {
  -webkit-box-shadow: 2px 10px 10px 2px #4e4a4a8c;
          box-shadow: 2px 10px 10px 2px #4e4a4a8c;
}

.gallery-section .ic-btn {
  margin: 0 auto;
}

footer {
  background-color: #363636;
  padding-bottom: 0;
  padding-top: 60px;
  position: relative;
}

footer .footer-widgets {
  border-bottom: 1px solid #ddd;
}

footer .footer-widgets .footer-logo-desc .footer-logo {
  width: 70%;
  padding-bottom: 25%;
  margin-bottom: 5px;
}

footer .footer-widgets .footer-logo-desc p {
  color: white;
  margin-bottom: 5px;
}

footer .footer-widgets .footer-menu {
  padding-bottom: 20px;
}

footer .footer-widgets .footer-menu h4 {
  color: white;
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  padding: 5px;
}

footer .footer-widgets .footer-menu h4::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: white;
  right: 0;
  bottom: 0;
}

footer .footer-widgets .footer-menu ul {
  list-style: none;
  margin-left: 0;
}

footer .footer-widgets .footer-menu ul li {
  padding: 5px 5px 10px;
}

footer .footer-widgets .footer-menu ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: block;
}

footer .footer-widgets .footer-menu .short-detail .footer-contact ul li {
  color: white;
  display: block;
}

footer .footer-widgets .footer-menu .short-detail .footer-contact ul li i {
  padding-right: 10px;
}

footer .footer-widgets .footer-menu .short-detail ul {
  margin-left: 0;
}

footer .footer-widgets .footer-menu .short-detail ul li {
  display: inline-block;
  padding: 10px;
  padding-bottom: 5px;
}

footer .copyright {
  padding: 10px;
  text-align: center;
}

footer .copyright p {
  color: #b2b0b0;
  margin-bottom: 0;
}

footer .social-menu {
  text-align: center;
}

footer .social-menu ul li {
  display: inline-block;
  padding: 15px;
}

footer .social-menu ul li a {
  color: #b2b0b0;
}

footer .social-menu ul li a .fa {
  color: #b2b0b0;
}
/*# sourceMappingURL=main.css.map */